
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
}
html,
body {
  height: 100%;
  background-color: #272626;
}

body {
  display: grid;
  place-items: center;
  color: #ddd;
}



.main__heading {
  text-align: center;
  color: #eceff1;
}

.cards {
  position: relative;
}

.card {
  
  --hsl: var(--hue), var(--saturation), var(--lightness);
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  border-radius: 15px;
}
.card:nth-child(1) {
  --hue: 400;
  --saturation: 100%;
  --lightness: 48.04%;
}
.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}



<!--login >
.subtitle {
  font-size: 11px;
  color: rgba(177, 177, 177, 0.3);
}

input {
  border: none;
  border-bottom: solid rgb(143, 143, 143) 1px;

  margin-bottom: 30px;

  background: none;
  color: rgba(255, 255, 255, 0.555);

  height: 35px;
  width: 300px;
}

.submit-btn {
  cursor: pointer;

  border: none;
  border-radius: 8px;

  box-shadow: 2px 2px 7px white;
  color: rgb(161, 153, 153);

  width: 80px;

  transition: all 1s;
}

.submit-btn:hover {
  color: rgb(255, 255, 255);

  box-shadow: none;
}
.wrap{position:relative;overflow:visible;}
.shuffle{position:absolute;right:0px;}